*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

html{
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    border: 1px red solid;
}

.title{
    font-weight: 900;
    font-size: 48px;
    font-family:URW Chancery L, Tahoma, Geneva, Verdana, sans-serif;
    border:1px red solid;
    margin-bottom: auto;
    margin-top: 10%;
}

#container{
    display: flex;
    flex-wrap: wrap;
    border:1px green solid;
    flex-direction: column;
    margin: 5px;
}

.square{
    background-color: white;   
}

.logo{

    border-radius: 80%;
}

.footer{
    margin-top: auto;
}

.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    border: 1px red solid;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.buttons button{
    padding: 5px;
    border-radius: 10%;
}

.padSizeWrapper{
    display: flex;
    font-size: 12px;
}

#erasorText{
    visibility: hidden;
    text-align: center;
}

#colours{
    width: 440px;
    display: flex;
    gap: 2px;
    justify-content: space-between;
    border: 1px red solid;
    margin: 5px;

}

.colourButton{
    height: 20px;
    width: auto;
}