*{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
}

html{
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-weight: 900;
    font-size: 48px;
    font-family:URW Chancery L, Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: auto;
    margin-top: 10%;
}


#container{
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
    flex-direction: column;
}

.square{
    background-color: white;   
}

.logo{
    border-radius: 80%;
}

.footer{
    margin-top: auto;
}

.mainBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30%;
}

.buttons button{
    padding: 5px;
    border-radius: 10%;
}

.padSizeWrapper{
    display: flex;
    gap: 5px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#erasorText{
    visibility: hidden;
    text-align: center;
}

#colors{
    width: 440px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

}

.colorButton{
    height: 20px;
    width: 50px;
}

.squareSizeWrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#padSize{
    text-align: center;
}

#opacityDiv{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 440px;
    margin-top: 2px;
}

.opacityChoice{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex:2;
}

#opacityRange{
    align-self: stretch;
}